.github/
README.md
install.sh
{{- if ne .chezmoi.os "linux" }}
.config/fontconfig/
.config/hypr/
.config/xremap/
{{- end }}
{{- if eq (env "REMOTE_CONTAINERS") "true" }}
.config/git/config
.config/homebrew/
.config/mise/
{{- end }}

