.github/
README.md
install.sh
LICENSE
gh_extensions.txt
.pre-commit-config.yaml
dev-tools-requirements.txt
{{- if ne .chezmoi.os "linux" }}
.config/fontconfig/
.config/hypr/
.config/xremap/
.config/libskk/
{{- end }}
{{- if eq (env "REMOTE_CONTAINERS") "true" }}
.config/git/config
.config/homebrew/
.config/mise/
{{- end }}

