{{- $email := promptString "email" "Email address" -}}
{{- $name := promptString "name" "User Name" -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}
[edit]
command = "nvim"
[data]
email = {{ $email | quote }}
name = {{ $name | quote }}
[diff]
command = "delta"
pager = "delta"

