.github/
README.md
install.sh
.stylua.toml
selene.toml
neovim.yml
LICENSE
gh_extensions.txt
.pre-commit-config.yaml
dev-tools-requirements.txt
start_yaskkserv2.sh
merge_skk_dict.sh
scripts
{{- if ne .chezmoi.os "darwin" }}
./Library/
./.config/hammerspoon/
./.config/aerospace/
./.config/packman_pkgs.txt
./.config/mineapps.list
{{- end }}
{{- if ne .chezmoi.os "linux" }}
.config/fontconfig/
.config/hypr/
.config/xremap/
.config/libskk/
.config/fcitx5/
.config/sway/
.config/swaync/
.config/wlogout/
.config/waybar/
.config/wofi/
.config/uwsm/
{{- end }}
{{- if eq (env "REMOTE_CONTAINERS") "true" }}
.config/git/config
.config/homebrew/
.config/mise/
{{- end }}

