#!/usr/bin/env bash
set -euxo pipefail
{{ if eq .chezmoi.os "darwin" }}
# mise
mise install

# install package (pipx)
pipx ensurepath
declare -A command_to_pkg_name=(
        ["sam"]="aws-sam-cli"
        ["cfn-lint"]="cfn-lint"
        ["poetry"]="poetry"
        ["tflocal"]="terraform-local"
        ["yamllint"]="yamllint"
)

for cmd in "${!command_to_pkg_name[@]}"; do
  if command -v "$cmd" &> /dev/null; then
    echo "$cmd already installed."
  else
    echo "$cmd not found. installing..."

    pipx install "${command_to_pkg_name[$cmd]}"
  fi
done

{{ else if (and (eq .chezmoi.os "linux") (eq (env "REMOTE_CONTAINERS") "true")) }}
printf 'Install tools into devcontainer...\n'
# devcontainerを想定

sudo sh -c "echo LC_ALL=en_US.UTF-8 >> /etc/environment"
sudo sh -c "echo en_US.UTF-8 UTF-8 >> /etc/locale.gen"
sudo sh -c "echo LANG=en_US.UTF-8 > /etc/locale.conf"
locale-gen en_US.UTF-8
echo export LANG=en_US.UTF-8 >> $HOME/.config/zsh/.zshrc

mkdir -p $HOME/.local/state/
# https://www.reddit.com/r/neovim/comments/1dznj5k/help_nvim_not_rendering_correctly/
echo export TERM=screen-256color >> $HOME/.config/zsh/.zshrc

curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
# . $HOME/.cargo/env
# rustup update
# cargo install --locked yazi-fm yazi-cli
# cargo install --locked zellij

sudo apt-get update \
  && sudo apt-get install -y jq direnv fzf ripgrep tmux ed fd-find bat\
  && sudo apt-get clean  \
  && sudo rm -rf /var/lib/apt/lists/*

ln -s $(which fdfind) $HOME/.local/bin/fd

# sheldon
curl --proto '=https' -fLsS https://rossmacarthur.github.io/install/crate.sh \
    | bash -s -- --repo rossmacarthur/sheldon --to ~/.local/bin

# lazygit
LAZYGIT_VERSION=$(curl -s "https://api.github.com/repos/jesseduffield/lazygit/releases/latest" | grep -Po '"tag_name": "v\K[^"]*')
curl -Lo lazygit.tar.gz "https://github.com/jesseduffield/lazygit/releases/latest/download/lazygit_${LAZYGIT_VERSION}_Linux_x86_64.tar.gz"
tar xf lazygit.tar.gz lazygit
sudo install lazygit /usr/local/bin

# NeoVim(Latest)
curl -LO https://github.com/neovim/neovim/releases/latest/download/nvim-linux64.tar.gz
sudo rm -rf /opt/nvim
sudo tar -C /opt -xzf nvim-linux64.tar.gz
echo export PATH="$PATH:/opt/nvim-linux64/bin" >> ~/.config/zsh/.zshrc

# node and npm
curl raw.github.com/creationix/nvm/master/install.sh | zsh
source $NVM_DIR/nvm.sh
nvm install 22

# TPM(Tmux Plugin Manager)
## https://github.com/tmux-plugins/tpm?tab=readme-ov-file#installation
TPM_INSTALL_DIR=$HOME/.local/share/tpm
if [! -d "$TPM_INSTALL_DIR"]; then
  git clone https://github.com/tmux-plugins/tpm "$TPM_INSTALL_DIR"
fi
{{ else if eq .chezmoi.os "linux"}}
printf 'Install tools into linux...'
{{ else }}
{{ end -}}
