#!/usr/bin/env bash
set -euxo pipefail
{{ if eq .chezmoi.os "darwin" }}
# xcode
xcode-select --install
# Homebrew
if test ! $(which brew); then
  printf 'Homebrew not found. Installing Homebrew...'
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
else
  printf 'Homebrew found. updateting...'
  # brew update
fi
/opt/homebrew/bin/brew bundle --no-lock --file {{ .chezmoi.sourceDir }}/dot_config/homebrew/Brewfile
{{ end }}
