{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
set -eo pipefail

# mise
mise install

# install package (pipx)
pipx ensurepath
declare -A command_to_pkg_name=(
        ["aws"]="awscli"
        ["sam"]="aws-sam-cli"
        ["cfn-lint"]="cfn-lint"
        ["poetry"]="poetry"
        ["tflocal"]="terraform-local"
)

for cmd in "${!command_to_pkg_name[@]}"; do
  if command -v "$cmd" &> /dev/null; then
    echo "$cmd already installed."
  else
    echo "$cmd not found. installing..."

    pipx install "${command_to_pkg_name[$cmd]}"
  fi
done

{{ end -}}
