{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
set -eo pipefail

git secrets --install "$XDG_CONFIG_HOME/git/templates/git-secrets"
git config --global init.templatedir "$XDG_CONFIG_HOME/git/templates/git-secrets"
# AWSの保護
git secrets --register-aws --global
# GCPの保護
git secrets --add 'private_key' --global
git secrets --add 'private_key_id' --global
{{ end -}}
