{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
set -eo pipefail
# install package (pipx)
# pipx
pipx install aws-sam-cli -f
pipx install awscli-local -f
pipx install cfn-lint -f
pipx install poetry -f
pipx install terraform-local -f

{{ end -}}
