[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}
[init]
	defaultBranch = main
	templateDir = ~/.config/git/template/
[commit]
	verbose = true
[core]
	ignorecase = true
[rebase]
	autosquash = true
	autostach = true
	abbreviateCommands = true
[rerere]
	enabled = true
