[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}
[core]
	editor = nvim
	pager = delta --side-by-side
	ignorecase = true
[delta]
	features = decorations
	light = false
	tabs = 2
	line-numbers = true
	navigate = true
	hyperlinks = true
[pull]
	ff = only
	autostash = true
[init]
	defaultBranch = main
	templateDir = ~/.config/git/template/
[column]
        ui = auto
[commit]
	verbose = true
[branch]
        sort = -committerdate
[merge]
        tool = nvimdiff3
        conflictstyle = zdiff3
[push]
	useForceIfIncludes = true
        default = simple
        followTags = true
[rebase]
	autosquash = true
	autostash = true
	abbreviateCommands = true
[rerere]
	enabled = true
        autoupdate = true
[tag]
        sort = version:refname
[diff]
        tool = nvimdiff
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
[difftool]
    prompt = true
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[interactive]
    diffFilter = delta --color-only
[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
	patterns = private_key
	patterns = private_key_id
