[user]
	name = {{ .work_name | quote }}
	email = {{ .work_email | quote }}
[init]
	defaultBranch = main
[commit]
	verbose = true
[core]
	ignorecase = true
[rebase]
	autosquash = true
	autostach = true
	abbreviateCommands = true
[rerere]
	enabled = true
