umask 022
# 重複するpathを追加しない
typeset -U path cdpath fpath manpath

### history
export HISTSIZE=100000
export SAVEHIST=1000000
export HISTFILE="$XDG_STATE_HOME/zsh_history"
export LISTMAX=0

setopt AUTO_PUSHD
setopt PUSHD_IGNORE_DUPS
setopt GLOBDOTS
setopt APPEND_HISTORY
setopt EXTENDED_HISTORY
setopt HIST_IGNORE_ALL_DUPS
setopt HIST_IGNORE_SPACE
setopt HIST_IGNORE_DUPS
setopt HIST_REDUCE_BLANKS
setopt HIST_SAVE_NO_DUPS
setopt INTERACTIVE_COMMENTS
setopt MAGIC_EQUAL_SUBST
setopt PRINT_EIGHT_BIT
setopt NO_FLOW_CONTROL
setopt INC_APPEND_HISTORY
setopt SHARE_HISTORY
setopt AUTO_PARAM_KEYS
setopt list_packed
setopt no_beep

unsetopt bg_nice
unsetopt list_types

# 特定コマンドの実行時に履歴に残さない
zshaddhistory() {
  local line="${1%%$'\n'}"
  [[ ! "$line" =~ "^(cd|jj?|la|ll|ls|rm|rmdir)($| )" ]]
}

# 正常終了以外のコマンドを履歴に残さない
__update_history() {
  local last_status="$?"

  local HISTFILE="$XDG_STATE_HOME/zsh_history"
  fc -W
  if [[ ${last_status} -ne 0 ]]; then
    ed -s ${HISTFILE} <<EOF >/dev/null
d
w
q
EOF
  fi
}
precmd_functions+=(__update_history)

# 補完で小文字でも大文字にマッチさせる
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Z}'

#サジェストの色
ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE="fg=244"

#zshの処理時間測定用
if (which zprof >/dev/null 2>&1); then
  zprof
fi

{{ if eq .chezmoi.os "darwin" }}
# Homebrew
eval "$(/opt/homebrew/bin/brew shellenv)"

if type brew &>/dev/null; then
  FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"
fi
{{ end }}
autoload -Uz compinit -C && compinit -C

## fzf
function fzf-select-history() {
  BUFFER=$(history -n -r 1 | fzf --query "$LBUFFER")
  CURSOR=$#BUFFER
  zle reset-prompt
}
zle -N fzf-select-history
bindkey '^r' fzf-select-history

fzf_cd() {
  local serach_dir=${1:-$HOME}
  local target_dir=$(fd --type directory \
    --exclude .git \
    --hidden \
    --no-ignore \
    . $serach_dir | fzf --prompt='CHANGE DIRECTORY > ') &&
    if [ -n "$target_dir" ]; then
      echo "cd $target_dir"
      cd "$target_dir"
    fi
}
zle -N fzf_cd
bindkey '^o' fzf_cd


# 自身のIPアドレスを取得
alias myip='curl https://checkip.amazonaws.com/'

# aws-vaultの補完
eval "$(aws-vault --completion-script-zsh)"

# 1passwordの補完
eval "$(op completion zsh)"
compdef _op op

# 1password enable plugins
source $XDG_CONFIG_HOME/op/plugins.sh

# eval
eval "$(sheldon source)"
eval "$(direnv hook zsh)"

# nnn
alias n3="nnn"

# mise
eval "$(mise activate zsh)"
eval "$(mise completion zsh)"

# Rust
source $XDG_DATA_HOME/cargo/env

# zoxide
eval "$(zoxide init zsh)"

# Neovim
alias v="nvim"

if [ -f $XDG_CONFIG_HOME/zsh/.zshrc.work ]; then
  source $XDG_CONFIG_HOME/zsh/.zshrc.work
fi
