name: test
on:
  workflow_dispatch:
  push:
    paths-ignore:
      - "**.md"
      - ".gitignore"
jobs:
  secrets-scan:
    name: gitleaks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  check-lua-files-formatted:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: JohnnyMorganz/stylua-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: latest
          args: --check .
  chezmoi-apply-test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    name: test
    runs-on: ${{ matrix.os }}
    timeout-minutes: 300
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - name: Install dotfiles
        run: >-
          sh -c "$(curl -fsLS get.chezmoi.io)" -- -b "$HOME/.local/bin" \
              init --apply --verbose --no-tty tks1197 --promptString email=test@example.com,name=user1
